rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomId} {
      allow read, create, update: if true;
      allow delete: if false;
    }
  }
}
